[Unit]
Description=Starts Budenkiln on startup

[Service]
Type=simple
User=budenkiln
Restart=always
WorkingDirectory=/home/budenkiln/Code/budenkiln
ExecStart=/home/budenkiln/Code/budenkiln/start.sh

[Install]
WantedBy=multi-user.target